.greenSignal {
  font-size: 22px;
  position: absolute;
  background: var(--lightGreen2);
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  padding: 7px 10px;
  z-index: 100;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0;
  animation: popanimation 1s;
}

.redSignal {
  font-size: 22px;
  position: absolute;
  background: var(--midLightRed);
  left: 50%;
  top: 100px;
  font-weight: 400;
  transform: translate(-50%);
  text-align: center;
  padding: 7px 10px;
  z-index: 100;
  border-radius: 6px;
  display: flex;
  align-items: center;
  grid-gap: 6px;
  gap: 6px;
  opacity: 0;
  animation: popanimation 1s;
}

@keyframes popanimation {
  0%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 100;
  }
  75% {
    opacity: 100;
  }
}

.hrLine {
  width: 800px;
  height: 6px;
  border-radius: 10px;
  background-color: var(--lightGreen3);
  margin-bottom: 30px;
  margin-top: 0;
}

@media screen and (max-width: 1000px) {
  .hrLine {
    width: 330px;
  }
  .redSignal img {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .hrLine {
    width: 230px;
  }
}

.projectDashboardGrid {
  display: grid;
  grid-template-columns: 442px 442px;
  gap: 30px;
}