#glinthub-dashboard-reviews {
    .upper-h1 {
        margin-top: 7px;
        font-weight: 700;
        font-size: 3rem;
        color: #525252;
    }
}

.review-wrapper {
    background: #d8efce;
    border-radius: 17px;
    // padding: 23px;
    width: 95%;
    margin: 30px 0;
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    .review-left {
        min-width: 28%;
        padding: 23px 0;

        // .marginBottom{
        //     margin-bottom: 30px;
        // }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .review-right {
        color: #858585;
        background: #ebf7e7;
        padding: 23px 0 23px 23px;
        height: 610px;
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        overflow: auto;

        .sender {
            word-wrap: break-word;
            background: rgba(133, 205, 102, 0.4);
            border-radius: 17px;
            width: 50%;
            margin-right: auto;
            padding: 20px;
            // opacity: 0.4;
            box-shadow: 0px 4px 8px rgba(133, 205, 102, 0.8);
            margin-bottom: 20px;
        }

        .receiver {
            background: #ffffffc2;
            border-radius: 17px;
            padding: 20px;
            width: 50%;
            margin-left: auto;
            // opacity: 0.4;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
            margin-right: 23px;
        }

        .search-wrapper {
            bottom: 23px;
            display: flex;
            margin-top: auto;
            justify-content: space-between;
            margin-right: 23px;
            .search-box {
                background: #9dd785;
                // opacity: 0.4;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                width: 85%;
                height: 62px;
                border-radius: 17px;
                display: flex;
                align-items: center;
                padding: 10px 20px;

                input {
                    width: 100%;
                    background: none;
                    outline: none;
                    border: none;
                    margin: 0;
                }

                input:hover,
                input:focus,
                input:active {
                    border: none;
                }
            }
            .search-logo {
                background: #195f34;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 17px;
                width: 10%;
                height: 62px;
            }
            .search-logo:hover {
                cursor: pointer;
                background-color: #218838;
            }
        }
    }

    .active {
        background-color: #000;
    }
}

.wrapper-review-card {
    display: flex;
    align-items: center;
    padding-right: 20px;
    /* margin-bottom: 30px; */
    padding-left: 25px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding: 15px;

    .content {
        display: flex;
        margin-left: 18px;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 24px;
            line-height: 33px;
            margin: 0;
            color: #595959;
        }

        p {
            font-weight: normal;
            color: #858585;
            font-size: 18px;
            line-height: 25px;
            margin: 0;
        }
    }

    .logo-review {
        img {
            height: 80px;
            width: 80px;
        }
    }
}
.active-channel {
    background-color: #ebf7e7 !important;
}
.wrapper-review-card:hover {
    cursor: pointer;
}
div#review-message {
    height: 480px;
    overflow-y: auto;
}
