@import "./glintHub-dashboard-add-app.scss";
@import "./glintHub-dashboard-drafted-app.scss";
@import "./glintHub-dashboard-published-app.scss";
@import "./glintHub-dashboard-reviews.scss";
@import "./glintHub-dashboard-sidebar.scss";

#glinthub-dashboard {
    .dash-container-1 {
        display: flex;
        margin-bottom: 25px;
    }

    #board {
        font-size: 3rem;
        color: rgba(82, 82, 82, 1);
    }

    .bx-1 {
        background-color: rgba(133, 205, 102, 0.8);
        width: 216px;
        height: 126px;
        border-radius: 16px;
        margin-right: 18px;
    }

    .bx-clr-2 {
        background-color: rgba(216, 239, 206, 1);
    }

    .bx-clr-3 {
        background-color: rgba(235, 247, 230, 1);
    }

    .up-bx {
        padding: 15px 0 0 19px;
        font-size: 21px;
        font-weight: 700;
        color: rgba(25, 95, 52, 1);
    }

    .dash-num {
        margin: 1px 0 19px 19px;
        font-size: 50px;
        color: rgba(82, 82, 82, 1);
    }

    .dash-container-2 {
        width: 60vw;
        margin-top: 50px;
    }

    .dashUp-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: -12px;
    }
    #pr {
        color: rgba(117, 117, 117, 1);
    }

    #pr,
    #vie {
        font-size: 22px;
        font-weight: 600;
        margin-right: 60px;
    }

    #vie {
        cursor: pointer;
        color: rgb(38 109 58 / 61%);
    }

    .img-icn {
        width: 163px;
        height: 162px;
        margin-right: 14px;
    }
    .img-icn:hover {
        cursor: pointer;
    }
    .img-icn-plus {
        background-color: rgba(133, 205, 102, 0.8);
        margin: 3rem;
        padding: 15px;
        padding-top: 18px;
        border-radius: 9px;
    }

    .bx-2 {
        display: flex;
        margin-top: 35px;
    }
}
.glinthub-dashboard-bold {
    font-weight: 700 !important;
}
.glinthub-dashboard-h1 {
    margin-bottom: 15px !important;
    font-size: 3rem !important;
}
.glinthub-dashboard-no-project-h2 {
    font-size: 1.5rem !important;
    margin-top: -10px;
}
#glinthub-dashboard-no-project-img {
    margin-left: 20px;
    margin-bottom: 60px;
}
a.img-icn-plus.no-project-add {
    margin-right: 1.5rem !important;
    margin-left: 0rem !important;
    padding-top: 15px !important;
}

.img-icn img {
    width: 163px;
    height: 162px;
    object-fit: cover;
}
