.heading {
  font-size: 3rem;
  font-weight: 700;
  /* margin-left: 5rem; */
  margin-top: 10px;
  width: 20rem;
  color: #525252;
}
.line {
  margin-left: 5rem;
  border: 2px solid #85cd66;
  width: 50rem;
}

.text_card {
  background-color: #ebf7e7;
  border-radius: 15px;
}
.card_radius {
  width: 30rem;
}
.description_card {
  width: 30rem;
  height: 5rem;
}
.upload_card {
  position: absolute;
  width: 40rem;
  text-align: center;
  margin-left: 33rem;
  top: 215px;
}
.bg_color {
  background-color: #dae6da;
  border: none;
  outline: 0;
  width: 20rem;
}
.bg_desc {
  background-color: #dae6da;
  border: none;
  width: 25rem;
  line-height: 2;
  height: 10rem;
}
.filecard {
  background-color: #dae6da;
  border-radius: 15px;
  margin: 20px;
}
.bg_btn {
  background-color: #dae6da;
  border: none;
  outline-style: none;
  width: 25rem;
  line-height: 5;
}
.form-control:focus,
.form-control:active,
.form-control {
  background: transparent;
  border: 0;
}
textarea.form-control {
  height: 9.7rem;
}
.drop-zone {
  height: 14.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #8eb1aa;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.add-app {
  height: 4rem;
  width: 4rem;
  text-align: center;
  margin: 8rem 6rem 13rem 5rem;
}

.add_button {
  margin-top: 8rem;
  font-size: 1.3rem;
  background-color: #135200;
  border-radius: 8%;
  width: 11rem;
  height: 3.5rem;
}
.drag-files {
  position: absolute;
  text-align: center;
  margin-top: 3rem;
}
#glinthub-dashboard-add-app #draft-line{
  margin-bottom: 30px;
}