#glinthub-landing-projects{
    #process-outer-box{
        padding-left: 105px !important;
    }
    #outer-box{
        justify-content: space-between;
        margin-bottom: 3px !important;
    }
}