@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

#glinthub-landing-hero {
  font-family: "Poppins", sans-serif;
  height: calc(100vh - 68px);
}

#glinthub-landing-hero .hero_content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
}

.hero_content h1 {
  font-size: 75px;
  font-weight: 700;
  color: #333333;
}

.hero_content p {
  font-size: 24px;
  color: #757575;
}

#glinthub-landing-hero .btn {
  text-decoration: none;
  color: #195f34;
  font-weight: 600;
  font-size: 18px;
  padding: 0.8rem 2rem;
  border-radius: 12px;
  background: #85cd66;
  width: 11.5rem;
  text-align: center;
  align-self: center;
}

#glinthub-landing-hero .btn:hover {
  color: #248046;
  background: #89d469;
}

#glinthub-landing-hero .hero_img {
  width: 100%;
  margin: 0;
  margin-top: -0.6rem;
  animation: float 3s ease-in-out infinite;
}

#glinthub-landing-hero #hero {
  display: grid;
  gap: 0.5rem;
  background: linear-gradient(286.61deg, #d9fcf8 3.98%, #f9ffff 50.34%);
}

@media screen and (min-width: 768px) {
  #glinthub-landing-hero #hero {
    grid-template-columns: 1fr 1.2fr;
    height: 100%;
  }

  #glinthub-landing-hero .hero_content {
    align-self: center;
    text-align: left;
    order: -1;
    margin-bottom: 4rem;
    margin-right: 1rem;
  }

  .hero_content h1 {
    font-size: 97px;
  }

  .hero_content p {
    font-size: 32px;
    padding-bottom: 2.5rem;
  }

  #glinthub-landing-hero .btn {
    align-self: flex-start;
    width: 15rem;
    padding: 0.8rem 2.5rem;
    font-size: 27px;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}