#glinthubLandingFooter {
  background-color: var(--lightGreen5);
  margin: 50px 70px;
  height: 380px;
  // height: 500px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;

  > div > a {
    font-size: 20px;
    background-color: var(--lightGreen4);
    color: white;
    padding: 15px 30px;
    border-radius: 16px;
  }

  #gdscLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > div > img {
    margin-top: 40px;
    width: 200px;
    margin-bottom: 1.5rem;
  }

  > div > div > a > img {
    width: 30px;
    margin: 24px 20px;
  }
  @media (max-width: 1080px) {
    > div > h5 {
      font-size: 50px;
    }
  }
  @media (max-width: 818px) {
    > div > h5 {
      font-size: 40px;
    }
    > div > div > a > img {
      width: 25px;
    }
    > div > img {
      width: 100px;
    }
    #gdscLogo > h3 {
      font-size: 18px;
    }
    > div > a {
      padding: 7px 10px;
      font-size: 17px;
    }
  }
  @media (max-width: 662px) {
    > div > h5 {
      font-size: 23px;
      margin-bottom: 0px !important;
      font-weight: bold;
    }
    > div > a {
      padding: 4px 9px;
      font-size: 14px;
      margin-top: 0px !important;
    }
    > div > img {
      width: 70px;
    }
    #gdscLogo > h3 {
      font-size: 14px;
      font-weight: bold;
    }
    > div > div > a > img {
      width: 21px;
      margin-top: 6px;
    }
  }

  @media (max-width: 662px) {
    .glinthubLandingFooter_h5_div {
      display: flex;
      background-color: var(--lightGreen5);
      padding: 10px;
      width: 98vw;
      text-align: center;
      justify-content: center;
      border-radius: 19px;
      align-items: center;
    }
    .glinthubLandingFooter_h5_div_2h5 {
      margin-top: 0px;
      margin-left: 7px;
      margin-right: 16px;
    }
  }
  @media (max-width: 427px) {
    > div > h5 {
      font-size: 17px;
    }
    > div > a {
      padding: 1px 9px;
      font-size: 13px;
    }
    #gdscLogo {
      width: 100vw;
    }
  }
}
@media (max-width: 1257px) {
  .glinthubLandingFooter_main_div {
    margin: 50px 25px !important;
    padding: 0 40px !important;
  }
}
@media (max-width: 1080px) {
  .glinthubLandingFooter_main_div {
    height: 300px !important;
  }
}
@media (max-width: 818px) {
  .glinthubLandingFooter_main_div {
    height: 250px !important;
  }
}
@media (max-width: 662px) {
  .glinthubLandingFooter_main_div {
    height: 185px !important;
    background-color: transparent !important;
    flex-direction: column;
  }
}
// @media (max-width: 550px) {
//   .glinthubLandingFooter_main_div {
//     width: 97vw;
//     margin: 58px 8px !important;
//   }
// }
