header{
    height: 80px;
    background: rgba(244, 244, 244, 0.45);
}
section#top{
    display: flex;
    height: calc(100vh - 80px);
    background: linear-gradient(286.61deg, #D9FCF8 3.98%, #F9FFFF 50.34%);
    align-items: center;
    position: relative;
}
section#top .info{
    width: 40%;
    margin: 2.5rem;
}
section#top .img{
   width: 60%;
   display: flex;
}
section#top .info h2{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 122.1px;
}
section#top .info p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 35.62px;
}
section#top .info button{
    margin-top: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 45.79px;
    background: #85CD66;
    border-radius: 25px;
    padding: 20px 42px;
}
section#top .img img{
    width: 600px;
    margin: 0 auto;
}
#downarrow{
    position: absolute;
    width: 40px !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
