#glinthub-dashboard-published-app {
    .upper-h1 {
        margin-top: 7px;
        font-weight: 700;
        font-size: 3rem;
        color: #525252;
    }
}

.publish-apps-wrapper {
    // padding: 23px;
    // margin-left: 40px;
    width: 58%;
    margin-top: 30px;

    .line1{
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}

.app-card{
    width: 378px;
    height: 230px;
    background-color: #EBF7E7;
    border-radius: 17px;
    display: flex;
    padding: 12px;
    // align-items: center;
    // justify-content: space-between;


    .left-side{
        img{
            width: 160px;
            height: 160px;
        }
        p{
            font-size: 28px;
            line-height: 38px;
            color: #757575;
            margin-top: 12px;
            text-align: center;
        }
    }

    .right-side{
        position: relative;

        margin-left: 20px;
        p{
            font-size: 18px;
            line-height: 25px;
            color: #A4A4A4;
        }

        .type-android{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #195F34;
            top: 180px;
            position: absolute;
            right: 20px;
        }
    }
}